<div style="width: 100vw; height:8vh; background: lightblue;">
    <div style="width: 10vw; float: left;"> 
            <img src="assets/CP_logo.png">
    </div>
    <div style="margin-left: 10vw;"> 
        <div style="text-align: center;">
            <h2>Capacity Planner</h2>
        </div>
        <div style="width: 100vw; text-align: left; margin-left: 1vw;">
            <div style="width: 5vw; float: left;">
                <nav>
                    <a routerLink="/teams">Team</a>
                </nav>
            </div>
            <div style="margin-left: 5vw; float: left;">
                <nav>
                    <a routerLink="/projects">Projects</a>
                </nav>
            </div>
            <div style="margin-left: 5vw; float: left;">
                Admin
            </div>
        </div>
    </div>
</div>