<h2>{{teamName}}</h2>
<table>
    <tr>
        <th *ngFor = "let column of headers">
            {{column}}
        </th>
    </tr>

    <tr *ngFor="let teamMember of teamMembers">
        <td>
            <span contenteditable="true">{{teamMember.name}}</span>
        </td>
        <select>
            <option *ngFor="let role of roles" [ngValue]="role" [selected]="role === teamMember.role">
                {{role}}
            </option>
         </select>
        <td>
            <a routerLink="/teams/{{teamId}}/members/{{teamMember.teamMemberId}}/capacity">
                Capacity
            </a>
        </td>
        <td>{{teamMember.createdDate}}</td>
        <td>{{teamMember.modifiedDate}}</td>
    </tr>
</table>
